 body {
  padding-top: 10px;
  font-family: monaco, monospace;
  background-color: #aabbcc;
  padding: 0px;
  margin: 0px;
}
.wrapper{
  margin: auto;
  display: block;
  background-color: white;
  max-width: 620px;
  height: 100%;
}
.container{
  margin: auto;
  padding: 10px 10px;

  background-color: #CCCCCC;
  max-width: 600px;
  height: auto;

  /* display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center; */
}
.block{
  cursor: pointer;
  margin: 10px;
  background-color: #AAFFFF;
  width: 70px;
  height: 70px;
  box-shadow: 3px 3px 8px #8aa;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  user-select: none;
}
.block:hover{
  background-color: #CCFFFF;
  box-shadow: inset 2px 2px 8px #9aa;
}

fieldset{
  padding: 30px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e6ebea;
  border-radius: 20px;
  background: linear-gradient(0, #fbffff, #f0f6f5);

}

.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
 	padding-left: 54px !important;
}
.cd-form .user {
 	background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}
.cd-form [required].user {
 	background: url("../img/cd-icon-user.svg") no-repeat 16px center,
 				url("../img/cd-required.svg") no-repeat top right;
}
.cd-form [required] {
 	background: url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .error {
	border-color: #e94b35 !important;
}
