body{
  margin: 0;
  padding: 0;
}

.no_select{
  user-select: none;
}

.bg_img_paddingbox_contain{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.bg_img_paddingbox_cover{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.header{
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 20px 0;
  position: fixed;
  top:0;
  z-index: 100;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .left_menu{
  display: flex;
  align-items: center;
}

.header .right_menu{
  display: flex;
  align-items: center;
}

.header .menu_button{
  background-image: url("../html-template/img/menu.png");
  width: 25px;
  height: 18px;
  margin-right: 30px;
  transition: 0.3s;
}

.header .menu_button:hover{
  transform: rotate(180deg);
  cursor: pointer;
}

.header .logo{
  background-image: url("../html-template/img/logo.svg");
  padding: 0;
  width: 180px;
  height: 30px;
  transition: 0.2s;
}

.header .logo:hover{
  transform: scale(1.1);
}

.header .phone{
  background-color: #ffd200;
  padding: 9px;
  width: 160px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
}

.header .phone a{
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: 0.3s;
}

.header .phone a:hover{
  color: tomato;
  border-color: tomato;
  text-shadow: 0 0 3px rgba(255,255,255,0.8);
}

.header .login_button{
  background-image: url("../html-template/img/login.png");
  width: 33px;
  height: 29px;
  transition: 0.2s;
}

.header .login_button:hover{
  transform: scale(1.1);
}

.main_banner{
  margin-top: 80px;
  background-image: url("../html-template/img/Main banner.jpeg");
  background-color: grey;
  min-height: 600px;
  height: auto;
  width: 100%;
}
